/*
Template: Alpha Dot
Author: Incognito Themes
Version: 1.0
Designed and Development by: Incognito Themes
*/


/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------
    1.0 - General
    2.0 - Typography
    3.0 - Global Style
    4.0 - Navigation
    5.0 - Search Box
    6.0 - Page Title Section
    7.0 - Slider Section
    8.0 - Creative Section
    9.0 - Recent Project Section
    9.1 - Overlay and hover effect
    10.0 - Magnific Popup CSS
    11.0 - Feature Section
    12.0 - About Section
    13.0 - Counter Section
    14.0 - Team Section
    15.0 - Video Section
    16.0 - Service Section
    17.0 - Process Section
    18.0 - Portfolio Section
    19.0 - Portfolio Single Page
    20.0 - Partner Section
    21.0 - Case study section
    22.0 - Map Section
    23.0 - Contact Section
    24.0 - Footer Section
    25.0 - Preloader
    26.0 - Homepage Two
    27.0 - Homepage Three
    28.0 - About us Page
    29.0 - About us page two
    30.0 - Blog Page
    31.0 - Blog Page Version Two
    32.0 - Full Width Section
    33.0 - Call to action section
    34.0 - Client Testimonial Style
    35.0 - Parallax Homepage
    36.0 - Contact Page
    37.0 - 404 page
    38.0 - Flex slider customization
	39.0 - Owl slider customization
-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/

/* =============================================
            	Theme Reset Style
============================================= */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Great+Vibes|Montserrat|Raleway:200,300,400,700|Roboto:300,400,700');
@import url("../css/bootstrap.min.css");
@import url("../css/font-awesome.min.css");
@import url("../css/custom-icons.min.css");
@import url("../css/transitions.css");
@import url("../css/flexslider.css");
@import url("../css/bootsnav.css");
@import url("../css/owl.carousel.css");
@import url("../css/animate.css");

* {
    margin: 0px;
    padding: 0px;
}
html,
body {
    position: relative;
    height: 100%;
}
body {
    color: #888;
    background: #f1f1f1;
    font-size:15px;
	font-family: 'Roboto', sans-serif;
}

.mdi{
	font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: #2d2d2d;
    margin: 10px 0;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
}

h1 { font-size: 48px;}
h2 { font-size: 36px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 12px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #fff;}
p a {}
p a:hover {color: #1a237e;}
p {
    letter-spacing: normal;
    line-height: 24px;
	color: #888;
	font-weight:300;
}
a {text-decoration: none;}
a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
}
ul {
  list-style: disc;
}
li > ul,
li > ol {
  padding: 0;
  margin-left: 15px;
}
figure {
    margin-bottom: 6px;
    position: relative;
}
img {
    height: auto;
    max-width: 100%;
}
.mark, mark{background-color:#1ec0ff;color:#fff;}

pre {
	margin: 0 20px;
    padding: 10px;
    border: 1px solid #e2e2e2;
    background: #f1f1f1;
	border-radius:0;
}

blockquote {
    border-left: 5px solid #1ec0ff;
	background:#fff;
}

.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #1ec0ff;
	background:#fff;
}

strong { color: #414141; }
hr{border-top: 1px solid #eaeaea;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}


section {
	padding-top:120px;
	padding-bottom:120px;
	position: relative;
	z-index: 10;
	background:#f1f1f1;
}

.section-heading {
	text-align: center;
    margin: auto;
    float: none;
    padding-bottom: 20px;
}

/*=============================================
              		Header
=============================================*/

.logo img {
    max-height: 33px;
}

.navbar-brand{padding: 11px 14px;}

.navbar-scrollspy .logo img {
	text-align:center;
	margin: 0 auto;
}

nav.navbar-scrollspy.navbar-sidebar ul.nav {
	margin: 0 0 30px 0;
}

/*=============================================
			Sliders and Hero Section
=============================================*/
.hero-text{
	display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    z-index: 10;
    color: #fff;
}
.hero-text h3, .hero-text h1{color:#1ec0ff;}
.hero-text h3 {
	font-size:30px;
}
.hero-text h1 {
	font-size:100px;
}

.hero-text h2 {
	font-size:65px;
}

.white-bg{background-color: #fff;}
.blue-bg{background-color:#1ec0ff;}
.parallax-bg {
    background: url(../images/background/parallax-bg.jpg) center 0 no-repeat;
    background-size: cover;
	height: 800px;
}

.parallax-bg-13 {
    background: url(../images/background/parallax-bg-14.jpg) center 0 no-repeat;
    background-size: cover;
}

/*=============================================
                Widgets
=============================================*/

::-webkit-input-placeholder{color:#1b1d1c;}
::-moz-placeholder{color:#1b1d1c;}
:-ms-input-placeholder{color:#1b1d1c;}
:-moz-placeholder{color:#1b1d1c;}

.relative{position:relative;}

.font-300 {
	font-weight:300;
}
.font-50px {
	font-size: 50px;
}
a:hover, a:focus {
	color: #1a237e;
}
.white-color {
	color: #fff !important;
}
.white-color p, .white-color h1, .white-color h2, .white-color h3, .white-color h4, .white-color h5, .white-color h6 {
    color: #fff!important;
}

.line-height-26 {
	line-height: 26px !important;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-50 {
	margin-top: 50px;
}

.pt-0 {
	padding-top: 0!important;
}
.pt-40 {
	padding-top: 40px;
}
.pt-100 {
	padding-top: 100px;
}

.pb-0 {
	padding-bottom: 0;
}
.pb-100 {
	padding-bottom: 100px;
}

.btn,
.form-control,
.form-control:hover,
.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-circle {
	border-radius:25px;
}

button:focus {
    outline: none !important;
}

.btn {
    padding: 0 30px;
    height: 48px;
    line-height: 46px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.btn + .btn {
    margin-left: 10px;
}

.btn:focus, .btn:focus:active {
    outline: none;
}

.btn-color {
    color: #fff;
    border-color: #1ec0ff;
    background-color: #1ec0ff;
}

.btn-color:hover, .btn-color:active, .btn-color:focus {
    background-color: #0080ff;
    border-color: #0080ff;
    color: #fff;
}


.btn-dark {
    color: #fff;
    border-color: #2d2d2d;
    background-color: #2d2d2d;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
    color: #2d2d2d;
    border-color: #fff;
    background-color: #fff;
}


.btn-animate {
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}
.btn-animate  span {
  display: inline-block;
  position: relative;
  padding: 0 8.5px 0 8.5px;
  transition: padding 0.2s;
}
.btn-animate i {
  position: absolute;
  top: 50%;
  right: 0px;
  opacity: 0;
  margin-top: -6px;
  transition: opacity 0.2s, right 0.2s;
}
.btn-animate:hover span {
  padding: 0 17px 0 0;
}
.btn-animate:hover i {
  transition: opacity 0.2s, right 0.2s;
  opacity: 1;
  top: 50%;
  right: 0;
}



.icon {
	margin-left:6px;
}

.feature-box {
	float:left;
}

.feature-box i {
	margin-bottom:20px;
	display: inline-block;
}

.light-icon {
	color: #f1f1f1;
}

.blue-bg-icon {
    background-color: #1ec0ff;
    border-color: #1ec0ff;
}


.circle-icon{
    position: relative;
    width: 85px;
    height: 85px;
    line-height: 85px !important;
    border-radius: 100%;
    text-align: center;
    display: inline-block !important;
}

.box {
	padding:60px;
	position:relative;
	transition: all 0.2s ease;
}

.box h2 {
    font-size: 32px;
}

.box h4 {
    font-size: 28px;
}

.box img {
	margin:0 auto 20px auto;
	display:block;
	width:200px;
}


/*=============================================
                        Our Blog
=============================================*/

.widget{
  margin-bottom: 30px;
}

.widget-title{
  position: relative;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.widget-title:before{
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 0;
    width: 40px;
    border-top: 1px solid #e8e8e8;
}


/*=============================================
                        Footer
=============================================*/
.footer{
  font-size:13px;
  position:relative;
  z-index:10;
}

.footer-main{
  padding:60px 0 60px;
  background-color: #1b1d1c;
}

.footer .widget-title{
    position: relative;
    font-size: 13px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
}

.footer .widget-text p {color:#fff;}

.footer .widget-title:before{
  content:'';
  position: absolute;
  top:100%;
  margin-top: 10px;
  left: 0;
  width: 40px;
  border-top: 1px solid #333;
}

.footer .widget-links{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.footer .widget-links li{
  margin-bottom: 14px;
  list-style:none;
}

.footer .widget-links a{
  color: #fff;
}

.footer .widget-links a:hover{
  color:#1ec0ff;
  text-decoration: none;
}

.footer-copyright{
   padding: 30px 0;
   background-color: #111312;
}

.copy-right{margin-top:5px;}

.footer-copyright ul.social-media{
  float:right;
  display:block;
}

.footer-copyright ul.social-media li {
	display:inline-block;
	margin-right: 17px;
}

.footer-copyright ul.social-media li:last-child {
	margin-right:0;
}

.footer-copyright ul.social-media li a{
  font-size: 16px;
  display: inline-block;
  color: #ccc;
}

.footer-copyright ul.social-media li a:hover{
  color: #1ec0ff;
}

ul.footer-gallery {margin:0;}

ul.footer-gallery li {
    display: inline-block;
    width: 24%;
    padding: 0 2px 0px 0;
    margin-bottom: 5px;
}
ul.footer-gallery li img {
    max-width: 100%;
    width: 100%;
}

.footer-gallery-box {
    position: relative;
    overflow: hidden;
}

.footer-gallery-box .skin-overlay {
    background-color: rgba(30, 192, 255, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
visibility: hidden;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.footer-gallery-box:hover .skin-overlay{
    opacity: 1;
visibility: visible;
}
.footer-gallery-box .zoom-wrap {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-gallery-zoom {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
}

.footer-gallery-zoom li {
    position: relative;
    bottom: -40px;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
}

.footer-gallery-box:hover .footer-gallery-zoom li{
	bottom: 0;
    opacity: 1;
    visibility: visible;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-gallery-zoom li a {
	color:#fff;
}

.footer-gallery-zoom li a:hover, .footer-gallery-zoom li a:focus {
	color:#2d2d2d;
}
/*=============================================
                Contact Us Page
=============================================*/

.form-group {
    margin-bottom: 30px;
}
.form-control {
    height: 60px;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #2d2d2d;
    border: 1px solid #eee;
    border-radius: 0;
}
.form-control:focus {
    border-color: #1ec0ff;
}

.contact-us p, .contact-us address {
	font-size:14px;
}

.contact-us h3 {
	margin-top:0;
}

.contact-us address {
	margin-bottom:40px;
	line-height:25px;
}

.contact-us address a {
	color:#1ec0ff;
}

.contact-us address a:hover {
	color:#2d2d2d;
}

/*=============================================
                Go Top
=============================================*/

#back-to-top {
    position: fixed;
    bottom: 75px;
    right: 40px;
    z-index: 999;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #1ec0ff;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    opacity: 0;
	box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.05);
	font-size:14px;
}
#back-to-top:hover {
    background: #2d2d2d;
	color:#fff;
}
#back-to-top.show {
    opacity: 1;
}

/*=======================================================
      FLEX SLIDER
========================================================*/

.parallax-img {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-screen-bg {
	height: 100vh;
    background-color: #222225;
 	min-height: 100vh;
}

.hero-text-wrap {
	display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(34, 34, 37, 0.45);
    z-index: 200;
}

.hero-text-wrap.gradient-overlay-bg {
	background: rgba(144,85,162,1);
background: -moz-linear-gradient(left, rgba(144,85,162,1) 0%, rgba(255,68,82,0.5) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(144,85,162,1)), color-stop(100%, rgba(255,68,82,0.5)));
background: -webkit-linear-gradient(left, rgba(144,85,162,1) 0%, rgba(255,68,82,0.5) 100%);
background: -o-linear-gradient(left, rgba(144,85,162,1) 0%, rgba(255,68,82,0.5) 100%);
background: -ms-linear-gradient(left, rgba(144,85,162,1) 0%, rgba(255,68,82,0.5) 100%);
background: linear-gradient(to right, rgba(144,85,162,1) 0%, rgba(255,68,82,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9055a2', endColorstr='#ff4452', GradientType=1 );
	width: 100%;
    height: 100vh;
    position: absolute;
	z-index: 1;
}

.embed-container { position: relative; padding-bottom: 56.25%; overflow: hidden; max-width: 100%; height: auto; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


.travel-bg-left {
  background:url(../images/travel-bg-left.jpg) center no-repeat;
  background-size: cover;
}

.travel-bg-right {
  background:url(../images/travel-bg-right.jpg) center no-repeat;
  background-size: cover;
}

.bg-flex{
  position: absolute;
  padding: 0;
  left:0;
  top:0;
  bottom: 0;
  overflow: hidden;
}

.bg-flex-right{
  position: absolute;
  padding: 0;
  right:0;
  top:0;
  bottom: 0;
  overflow: hidden;
}


.col-about-right {
    padding-left: 60px;
}

.col-about-left {
    padding-right: 60px;
}


/*=======================================================
      Personal Resume
========================================================*/


.contact-me {
	background: #fff;
    padding: 50px 40px 35px 40px;
    box-shadow: 0 10px 30px 5px rgba(17,21,23,.1);
}